@media screen and (max-width: 1300px) {
  .pending-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .update-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdown-status {
    margin-bottom: 5px;
    width: 75%;
  }
  .remark{
    
    
  }
}
@media screen and (min-width: 1300px) {
  .dropdown-status {
    width: 35%;
  }
  
}
